# 여러개 입력처리

In [8]:
a = "red greem blue"
a.split()
#r의 str_split이랑 같다. 쪼개서 리스트로 만들어 준다.

['red', 'greem', 'blue']

In [9]:
b = "red,green,blue"
b.split(",")
#","를 기준으로 나누어짐

['red', 'green', 'blue']

In [11]:
string = "3.1 2.4 8.5"
list(map(float,string.split))

TypeError: 'builtin_function_or_method' object is not iterable

In [13]:
string = input("실수 세개를 빈칸으로 구분하여 입력하세요")
string

'3.1 2.4 8.5'

In [14]:
list(map(float,input("실수 세개 입력").split()))
#리스트로 나온다

[3.1, 2.4, 8.5]

In [15]:
x, y, z=[3.1, 2.4, 8.5]
x, y, z

(3.1, 2.4, 8.5)

In [16]:
x,y,z = list(map(float, input("실수 세개 입력").split())) #split을 이용해서 list로 조각조각 들어가도록.
x,y,z

(3.14, 1.414, 2.178)

In [7]:
x,y,z = map(float, input("실수 세개 입력").split()) #split을 이용해서 list로 조각조각 들어가도록.
x,y,z   #list 안써도 된다.

(1.0, 2.0, 3.0)

#### 추가사항

### range - sequence 자료형

In [20]:
#하나만 있으면 0부터 끝값+1
list(range(0,5))

[0, 1, 2, 3, 4]

In [5]:
#10~1,짝수
list(range(10,1,-2))

[10, 8, 6, 4, 2]

In [9]:
#10~1,홀수
list(range(1,10,2))

[1, 3, 5, 7, 9]

#두개의 정수를 입력받아서 첫번째 값에서 부터 두번째 값 까지 출력
#단 두번째 값이 첫번째 값보다 크다

In [13]:
#input("두개의 정수를 입력하세요").split() -> 이게 리스트 됨
a,b = map(int,input("두개의 정수를 입력하세요").split())
a,b

(5, 10)

In [14]:
print(list(range(a,b+1)))

[5, 6, 7, 8, 9, 10]

In [ ]:
a,b=map(int,list().split)