# 1. 조건문

### 1. 윤년인지 아닌지 알아보기

In [2]:
    yyy = int(input("연도를 입력하세요"))
    if  yyy % 4 == 0 and yyy % 100 != 0:
        print('윤년')
    elif yyy % 400 == 0:
        print('윤년')
    else:
        print("윤년아님")

윤년

### 2. 만나이 구하기

In [91]:
real_year = int(input("출생년도"))
real_month = int(input("월"))
real_day = int(input("일"))
from datetime import date
date.today()
today = date.today()
today_month = today.month
today_year = today.year
today_day = today.day

if today_month > real_month or today_month == real_month and today_day >= real_day:
    print(today_year-real_year)
   
elif today_month == real_month and today_day < real_day or today_month < real_month:
    print(today_year-real_year-1)

24

### 3. 피타고라스 수 구하기

# 2. 반복문

### 1. 별그리기

In [31]:
n = 5
for i in range (1, n*2, 2):
    print((" " * ((n * 2-1-i)//2)) + ("*" * i))
for k in range (n*2-3, 0, -2):
    print((" " * ((n*2-1-k)//2)) + "*" * k)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### 2. 디지털 시계에 3이 표시되는 시간

### 3. 숫자의 개수

In [33]:
count = [0,0,0,0,0,0,0,0,0,0]
for i in range(1,1001):
    for k in range(0,10):
        count[k]

### 4. 완전수