# 7.자료구조

### 1. 스택(stack)

In [16]:
stack = [1, 2, 3]
stack.append(4) #push 역할 한다.
stack

[1, 2, 3, 4]

In [17]:
stack.pop()

4

In [18]:
stack

[1, 2, 3]

In [22]:
word = input("단어입력")
word_list = list(word)
print(word_list)

result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())
print(result)

['p', 'y', 't', 'h', 'o', 'n']
['n', 'o', 'h', 't', 'y', 'p']

### 2. 큐(Queue)

In [23]:
queue = [1,2,3,4]
queue.pop(0)

1

In [24]:
queue

[2, 3, 4]

### 3. 튜플(Tuple)

In [25]:
t = (1,2,3)
st = tuple("word")
t, st

((1, 2, 3), ('w', 'o', 'r', 'd'))

In [27]:
t = 1,2,3
t

(1, 2, 3)

In [28]:
t.count(1)

1

In [29]:
#튜플은 불변이라 새로운 값을 할당하는 것을 불가능
t[0]=4

TypeError: 'tuple' object does not support item assignment

In [30]:
#시퀀스 자료형이므로 for문에서 사용 가능
for element in t:
    print(element)

1
2
3

### 4. 세트(set)

In [31]:
s = set([1,2,3,1,2,3])
s

{1, 2, 3}

In [33]:
s = set((1,2,3))
s

{1, 2, 3}

In [35]:
s.add(1)
s

{1, 2, 3, 4}

In [37]:
s.update([1,3,5,7])
s

{1, 2, 3, 4, 5, 7}